body {
  background-color: #f48642;
  margin: 50px;
  line-height: 1.4;
  text-align: center;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  font-family:cursive;
}

.btn {
  background: #4c1881;
  color: #73babe;
  padding: 0.3rem 1rem;
  text-decoration: none;
  border: 0;
  text-align: center;
}

.left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  float:right;
  border-radius: 75%;
}

.jumbotron{
    position: relative;
    background: #f4ca41;
    margin-top: 20px;
    text-align:center;
    width: 100%;
}

.quote {
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
  font-family: fantasy;
  color: #15034c;
}

.fquote {
  font-size: 20px;
  font-style: oblique;
  font-weight: 600;
  font-family: fantasy;
  color: #583fa3;
}

img {
  width: 300px;
  border-radius: 75%;
}
